{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-4">
            <a href="{{ path('app_server_instance_list') }}">zurück zur Liste</a>
            <h2 class="my-5">Server Instanz bearbeiten</h2>
            {{ form(serverInstanceForm) }}
        </div>
    </div>
{% endblock %}